*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --delay-fade-const: 250ms;
  --delay-shrink-const: 1000ms;
}

body {

  font-family: 'Open Sans',Arial, Helvetica, sans-serif;
}

.chat {
  background: #eceef2d9;
  padding: 1em;
  border-radius: 1em;
  margin: 1em;
  -webkit-animation: chat-popup var(--delay-fade-const) both;
  animation: chat-popup var(--delay-fade-const) both;
  transform-origin: bottom right;
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: .5;
  }
}
@keyframes fadeShrink {
  0% {
    opacity: 1;
    height: 100px;
  }
  70% {
    opacity: .8;
  }
  100% {
    opacity: .5;
    height: 0;
  }
}
.chat {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  -webkit-animation-delay: calc(1 * var(--delay-fade-const));
  animation-delay: calc(1 * var(--delay-fade-const));
  /*animation: fadeShrink 3s 5s forwards;*/ /* Apply the animation */
}


@supports ((-webkit-backdrop-filter: saturate(180%) blur(20px)) or (backdrop-filter: saturate(180%) blur(20px))) {
  .chat {
    background: rgba(250, 250, 250, 0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
  }
}

.name {
  display: flex;
  flex-grow: 1;
  margin: 0 0 0.5em;
  font-weight: 600;
  color:#1068fe;
  overflow: clip;
}

@-webkit-keyframes chat-popup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes chat-popup {
  0% {
    transform: scale(0);
  }

  100% {
    transform: scale(1);
  }
}

.page-wrapper {
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  left: 0;
  min-height: 100vh;
  right: 0;
  top: 0;
  display: flex;
  flex-direction: column;
}

.bg-img-1 {
  background: url(http://openziti.io/assets/images/bg-img-01-d31e592729cad752f0a97013a3f2d210.jpg);
}

.messagebox {
  display: flex;
  flex-grow: 1;
  border-radius: 1.1em;
  max-height: 600px;
  background: rgba(250, 250, 250, 0.4);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
  -webkit-animation: chat-popup var(--delay-fade-const) both;
  animation: chat-popup var(--delay-fade-const) both;
  transform-origin: bottom right;
  overflow: scroll;
}

.chat-bubbles {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  min-width: 100%;
  max-height: 100px;
  z-index: 400;
}

/* CSS for the outer div */
.fade-out-div {
  width: 200px;
  background-color: lightblue;
  overflow: hidden;
  transition: height 1s;
}

/* CSS for the inner content container */
.inner-content {
  padding: 10px;
  transition: transform 1s;
}